{
  "TWITCH_CHANNEL": "",
  "SPOTIFY_CLIENT_ID": "",
  "SPOTIFY_CLIENT_SECRET": "",
  "SPOTIFY_PLAYLIST_ID": "",
  "TWITCH_TOKEN": "",
  "BOT_USERNAME: "",
  "CHAT_FEEDBACK": true,
  "ADD_TO_QUEUE": true,
  "ADD_TO_PLAYLIST": true,
  "SUBSCRIBERS_ONLY": true,
  "COMMAND_PREFIX": "!request",
  "AUTH_SERVER_PORT": 8000
}
